@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-01.ttf) format('truetype');
}
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-02.ttf) format('truetype');
}
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-03.ttf) format('truetype');
}
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-04.ttf) format('truetype');
}
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-05.ttf) format('truetype');
}
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-06.ttf) format('truetype');
}
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-07.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-08.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-09.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-10.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-11.ttf) format('truetype');
}
@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-12.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-13.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-14.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-15.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-16.ttf) format('truetype');
}
@font-face {
  font-family: 'Bungee Inline';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-17.ttf) format('truetype');
}
@font-face {
  font-family: 'Carter One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-18.ttf) format('truetype');
}
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-19.ttf) format('truetype');
}
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-20.ttf) format('truetype');
}
@font-face {
  font-family: 'Coiny';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-21.ttf) format('truetype');
}
@font-face {
  font-family: 'Courier Prime';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-22.ttf) format('truetype');
}
@font-face {
  font-family: 'Courier Prime';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-23.ttf) format('truetype');
}
@font-face {
  font-family: 'Courier Prime';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-24.ttf) format('truetype');
}
@font-face {
  font-family: 'Courier Prime';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-25.ttf) format('truetype');
}
@font-face {
  font-family: 'Elsie Swash Caps';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-26.ttf) format('truetype');
}
@font-face {
  font-family: 'Elsie Swash Caps';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-27.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-28.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-29.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-30.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-31.ttf) format('truetype');
}
@font-face {
  font-family: 'Krona One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-32.ttf) format('truetype');
}
@font-face {
  font-family: 'Kumar One Outline';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-33.ttf) format('truetype');
}
@font-face {
  font-family: 'Lobster Two';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-34.ttf) format('truetype');
}
@font-face {
  font-family: 'Lobster Two';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-35.ttf) format('truetype');
}
@font-face {
  font-family: 'Lobster Two';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-36.ttf) format('truetype');
}
@font-face {
  font-family: 'Lobster Two';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-37.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-38.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-39.ttf) format('truetype');
}
@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-40.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-41.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-42.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-43.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-44.ttf) format('truetype');
}
@font-face {
  font-family: 'Nixie One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-45.ttf) format('truetype');
}
@font-face {
  font-family: 'Notable';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-46.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-47.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-48.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-49.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-50.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-51.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-52.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-53.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-54.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-55.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-56.ttf) format('truetype');
}
@font-face {
  font-family: 'Palanquin Dark';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-57.ttf) format('truetype');
}
@font-face {
  font-family: 'Palanquin Dark';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-58.ttf) format('truetype');
}
@font-face {
  font-family: 'Ostrich Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-59.woff2) format('woff2');
}
@font-face {
  font-family: 'Parisienne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-60.ttf) format('truetype');
}
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-61.ttf) format('truetype');
}
@font-face {
  font-family: 'Petit Formal Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-62.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-63.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-64.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-65.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-66.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-67.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-68.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-69.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-70.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-71.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-72.ttf) format('truetype');
}
@font-face {
  font-family: 'Rasa';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-73.ttf) format('truetype');
}
@font-face {
  font-family: 'Rasa';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-74.ttf) format('truetype');
}
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-75.ttf) format('truetype');
}
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-76.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-77.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-78.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-79.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-80.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-81.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-82.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-83.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-84.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-85.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-86.ttf) format('truetype');
}
@font-face {
  font-family: 'Sancreek';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-87.ttf) format('truetype');
}
@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-88.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-89.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-90.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-91.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-92.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-93.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-94.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-95.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-96.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-97.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-98.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-99.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-100.ttf) format('truetype');
}
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-101.ttf) format('truetype');
}
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-102.ttf) format('truetype');
}
@font-face {
  font-family: 'Space Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-103.ttf) format('truetype');
}
@font-face {
  font-family: 'Space Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-104.ttf) format('truetype');
}
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-105.ttf) format('truetype');
}
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-106.ttf) format('truetype');
}
@font-face {
  font-family: 'Stint Ultra Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-107.ttf) format('truetype');
}
@font-face {
  font-family: 'Stint Ultra Expanded';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-108.ttf) format('truetype');
}
@font-face {
  font-family: 'Sue Ellen Francisco';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-109.ttf) format('truetype');
}
@font-face {
  font-family: 'Ultra';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-110.ttf) format('truetype');
}
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-111.ttf) format('truetype');
}
@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-112.ttf) format('truetype');
}
@font-face {
  font-family: 'TrashHand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/editor-fonts/editor-font-113.woff) format('woff');
}
